*{

    /* border: 2px solid red; */
    /* margin: 0;
    padding: 0; */
    /* font-size: 0.9rem; */
}


/* .hero{
    width: 100%;
    min-height: 100vh;
} */

.dash_nav{
    width: 100%;
    /* display: flex; */
    position: relative; 
    align-items: center;
     justify-content: space-between;
     /* position: fixed; */
}
.user-pic{
    float: right;
    
    cursor: pointer;
    width: 60px;
    margin-right: 10px;
    margin-top: 1px;
    margin-bottom: 10px;
}
.sub-menu-wrap{
position: absolute;
top: 9%;
right: 4.5%;
width: 290px;
max-height: 0;
overflow: hidden;
transition: max-height 0.5s;

}
.sub-menu-wrap.open-menu{
    max-height: 450px;
    
}
.sub-menu{
    background: #cadeef;
    padding: 15px;
    margin: 1px;

}
.user-info{
    display: flex;
    align-items: center;
}
.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
.user-info h5{
    margin-top: 5px;
}

.sub-menu hr{
    border: 0;
    height: 3px;
    width: 100%;
    background: #ccc;
    margin: 1px 0 10px;
}
.submenu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 1px 0;
}
.submenu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 7px;
    margin-right: 25px;
    margin-bottom: 10px;
}
.submenu-link p{
    margin-top: 22px;
}

.submenu-link p:hover {
    color: blue;
    
}

