.btn_sign{
    height: 45px;
    width: 100%;
    background-color: rgb(115, 60, 244);
    border:none;
} 
.btn_sign:hover{
   background-color: white;
   border: 2px solid;
   color: black;
} 
.signup-advisor-email
{
    width: 100%;
    box-sizing: border-box;
    border:0px;
    border-bottom: 2px solid #8EC5FC; 
}